<h1 id="title">Articles</h1>
<div align="center">
</div>
<%= render 'article', obj: @articles %>
<div align="center">
  <%# Creates pagination below article index %>
  <%= will_paginate %>
</div>
