<div class="jumbotron">
  <div class="container">
    <h1>Alpha Blog</h1>
  </div>
</div>
<section>
  <article>
    <h2>Welcome</h2>
    <p>
      Welcome to Alpha Blog, a place where we talk about things that
      may or may not matter. The subject matter is up for debate, the
      frequency or posts is as volitile as the internet, and the view
      count is guarenteed to be at least 1.
    </p>
    <p>
      I also have no idea what I'm doing :P
    </p>
  </article>
</section>

</body>
</html>
