<div class="jumbotron">
  <div class="container-fluid">
    <h1>Alpha Blog</h1>
  </div>
</div>

<h2 id="title">Recent Articles</h2>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <a href="/articles/35" class="thumbnail">
        <%= image_tag("Via_ferrata.jpg", alt: "Via Ferrata") %>
        <div class="caption">
          <h3>Via Ferrata in Innsbruck</h3>
          <p>Remember that time we walked the rim of the Nordkette...?</p>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4">
      <a href="/articles/36" class="thumbnail">
        <%= image_tag("Cliff_jump.jpg", alt: "Cliff Jump") %>
        <div class="caption">
          <h3>Jumping Off Stuff</h3>
          <p>...you probably shouldn't...but we did anyway...sooooo</p>
        </div>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4">
      <a href="/articles/37" class="thumbnail">
        <%= image_tag("Epic_cow.jpg", alt: "Epic Cow") %>
        <div class="caption">
          <h3>The Epic Cows of Scotland</h3>
          <p>Cow butts and waterfalls, what else do you need to know?</p>
        </div>
      </a>
    </div>
  </div>
</div>
