/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
$navbar-default-bg: black;

 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
  background-color: #e3ebf7;
}

// Removes underline from all links when hovered
a:link { text-decoration: none; }

#logo {
  float: left;
  font-size: 1.7em;
  color: rgb(66, 134, 244);
  text-transform: uppercase;
  letter-spacing: -0.4px;
  font-weight: bold;
}

#title {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  color: #ff8600;
  font-size: 6em;
  font-weight: bold;
  letter-spacing: -2px;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.center {
  text-align: center;
}

.navbar {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

// Change color of navbar links
ul.nav a:link { color: #b3b3b3; }
ul.nav a:visited { color: #b3b3b3; }
ul.nav a:hover { color: #ff8600 !important; }

// Change color of dropdown menu items
ul.nav li.dropdown ul.dropdown-menu a:link { background-color: #000000; }
ul.nav li.dropdown ul.dropdown-menu a:hover { background-color: #000000; }

.jumbotron {
  background-image: asset-url('Flatirons1.jpg');
  background-size: cover;
  height: 730px;
}

.jumbotron h1 {
  font-family: 'Amatic SC', cursive;
  color: #ff8600;
  font-size: 1600%;
  font-weight: bold;
  margin: 5px 0 30px;
  letter-spacing: -1px;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.thumbnail {
  max-height: 100;
}

.thumbnail > .caption a:hover {
  text-decoration: none !important;
}

.article-meta-details {
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  padding-top: 15px;
  padding-bottom: 15px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

footer {
  margin: 45px 10px 0 10px;
  padding-top: 5px;
  border-top: 1px solid #dbdbdb;
  color: #777;
}

footer a:hover {
  color: #ff8600;
  text-decoration: none;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer li {
  float: left;
  margin-left: 15px;
}
