body{
  font-family: franklin gothic;
}

* {
  box-sizing: border-box;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%; height: 100%;
}

h1{
  font-size: 50px;
  color: white;
  font-style: bold;
}

h2 {
  font-size: 17px;
  color: black;
  font-style: italic;
}

h4 {
  color: white;
}

header {
  background-color: rgb(98, 114, 195);
  text-align: center;
  padding: 0.5px;
}

nav {
  float: left;
  width: 20%;
  background-color: rgb(148, 183, 230);
  padding: 20px;
  height: 300px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
  font-style: italic;
}

article {
  float: left;
  padding: 20px;
  width: 80%;
  background-color:rgb(141, 165, 230);
  height: 300px;
  font-family: corbel;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: rgb(98, 114, 195);
  padding: 20px;
  text-align: right;
  color: white;
  font-size: 12px;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: darkslategrey;
  background-color: transparent;
  text-decoration: ;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: ;
}
