<div>
  <footer class="footer">
    <small>
      Copyright &copy; <a>not made by SquareSpace</a>
      by <a>Marc</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
