<div>
  <footer class="footer">
    <small>
      Copyright &copy; not made by SquareSpace
      <br>
      was made by <%= link_to "Marc", User.find_by(username: "Marc") %>
    </small>
    <nav>
      <ul>
        <li><small><%= link_to "About", about_path %></small></li>
      </ul>
    </nav>
  </footer>
</div>
